altair==4.2.2
matplotlib
matplotlib-inline
numpy
numpydoc
pandas
pyreadr==0.4.7
pytest==7.1.2
python-dateutil
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-multipart==0.0.5
python-slugify
python-snappy
pytz
pytz-deprecation-shim==0.1.0.post0
pyviz-comms
PyWavelets
pywin32==302
pywin32-ctypes
pywinpty
PyYAML==6.0
pyzmq
streamlit==1.17.0
